<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ultim.radio5">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".Radio.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Radio.RadioService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Radio.ConnectivityReceiver"
            android:enabled="true" />
        <receiver
            android:name=".Radio.NotificationRadioReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="STOP_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>